/Footer
%div.ud-footer-bg
	%div.ud-footer-inner.uk-container.uk-container-center
		%div.ud-footersocial.uk-container.uk-container-center
			%a.uk-icon-button.uk-icon-facebook{:href => '#'}
			%a.uk-icon-button.uk-icon-google-plus{:href => '#'}
			%a.uk-icon-button.uk-icon-youtube{:href => '#'}
			%a.uk-icon-button.uk-icon-twitter{:href => '#'}
		%div.ud-footernav
			%ul.uk-subnav.uk-subnav-line
				%li
					%a{:href => '#'}
						Terms of Use
				%li
					%a{:href => '#'}
						Privacy

				%li
					%a{:href => '#'}
						Guild Rules

				%li
					%a{:href => '#'}
						Administration
		%div.ud-footer-text
			Designed with love and tears by Faore and coded vigorously by Adalind for the Underdogs Guild.
			%br
			%i.uk-icon-heart
		%div.ud-copyright
			&copy; Copyleft 2014 Underdogs Guild. Not ready for production.
/End Footer