/SEO and Social Media Metadata
/Google
%meta{'name' => 'description', 'content' => 'Official website for a casual FFXIV guild on Leviathan. We\'re recruiting! Join us now!'}
%meta{'rel' => 'publisher', 'href' => 'https://plus.google.com/113839180459420304737'}
/Facebook Data
%meta{'property' => 'og:title', 'content' => 'Underdogs Guild'}
%meta{'property' => 'og:type', 'content' => 'website'}
%meta{'property' => 'og:image', 'content' => 'http://cdnc.underdogs.im/img/meta/og-img.png'}
%meta{'property' => 'og:url', 'content' => 'http://www.underdogs.im'}
%meta{'property' => 'og:description', 'content' => 'Why sit here and read Facebook when you can game with us? Check out the Underdogs Guild!'}
%meta{'property' => 'fb:admins', 'content' => '100000385211055'}
/Twitter Data
%meta{'name' => 'twitter:card', 'content' => 'summary'}
%meta{'name' => 'twitter:url', 'content' => 'http://www.underdogs.im'}
%meta{'name' => 'twitter:title', 'content' => 'Underdogs Guild'}
%meta{'name' => 'twitter:description', 'content' => 'Why sit here and scroll through Twitter when you can game with us? Check out the Underdogs Guild!'}
%meta{'name' => 'twitter:image', 'content' => 'http://cdnc.underdogs.im/img/meta/tw-img.png'}
%meta{ "name" => "Copyright", "content" => "Copyright Underdogs Guild #{Date.today.year}. All Rights Reserved" }
/End SEO and Social Media Metadata