/Navbar
%nav.uk-navbar.uk-navbar-attached{'data-uk-sticky' => true}
	%a.uk-navbar-toggle.uk-visible-small{:href => '#mobile-offcanvas', 'data-uk-offcanvas' => true}
	%a.uk-navbar-brand.uk-visible-small{:href => '/'}
		%img.ud-navbar-logo{'src' => '/img/logos/logo.png', 'alt' => 'Underdogs Logo'}
	%ul.uk-navbar-nav.uk-hidden-small
		/Active Element
		%li.uk-active
			%a.uk-navbar-nav-subtitle{:href => '/'}
				Home
				%div
					Once an Underdog...
		%li.uk-parent{'data-uk-dropdown' => true}
			%a.uk-navbar-nav-subtitle{:href => '#'}
				News &amp; Events
				%div
					Do Stuff!
			%div.uk-dropdown.uk-dropdown-navbar
				%ul.uk-nav.uk-nav-navbar
					%li
						%a{:href => '#'}
							News
					%li.uk-nav-header
						Events
					%li
						%a{:href => '#'}
							Special Events
					%li
						%a{:href => '#'}
							Stream Events
		%li.uk-parent{'data-uk-dropdown' => true}
			%a.uk-navbar-nav-subtitle{:href => '/community/underdogs/forum'}
				Community
				%div
					Get Together
			%div.uk-dropdown.uk-dropdown-navbar
				%ul.uk-nav.uk-nav-navbar
					%li
						%a{:href => '/community/underdogs/forum'}
							Forum
					%li
						%a
							Members
		%li.uk-parent{'data-uk-dropdown' => true}
			%a.uk-navbar-nav-subtitle{:href => '#'}
				Servers
				%div
					VoIP &amp; Games
			%div.uk-dropdown.uk-dropdown-navbar
				%ul.uk-nav.uk-nav-navbar
					%li.uk-nav-header
						Utilities and VoIP
					%li
						%a{:href => '#'}
							TeamSpeak
					- if user
						%li
							%a{:href => '#'}
								Private VPN
					%li.uk-nav-header
						Game Servers
					%li
						%a
							Starbound
					%li
						%a
							Minecraft
					%li
						%a
							Killing Floor
		%li.uk-parent{'data-uk-dropdown' => true}
			%a.uk-navbar-nav-subtitle{:href => '#'}
				Wiki
				%div
					Planning
			%div.uk-dropdown.uk-dropdown-navbar
				%ul.uk-nav.uk-nav-navbar
					%li.uk-nav-header
						Sections
					%li
						%a{:href => '#'}
							Event Plans
					%li
						%a{:href => '#'}
							Raid Information
					%li
						%a{:href => '#'}
							Roster Information
					%li.uk-nav-header
						Special
					%li
						%a{:href => '#'}
							Recent Edits
					%li
						%a{:href => '#'}
							Create a New Page
	%div.uk-navbar-flip
		%ul.uk-navbar-nav
			- unless user
				%li.uk-parent{'data-uk-dropdown' => '{mode\'click\'}'}
					%a{:href => '#'}
						Login
						%i.uk-icon-caret-down
					%div.uk-dropdown.uk-dropdown-width-1.uk-dropdown-navbar
						%div.uk-grid
							%div.uk-width-1-1
								%form#navlogin.uk-form{action: '/login', method: "POST"}
									%fieldset
										%legend
											Sign In
										%div.uk-form-row
											%input{'type' => 'text', 'placeholder' => 'UnderdogsID', 'name' => 'username'}
										%div.uk-form-row
											%input#nav_plain_password{'type' => 'password', 'placeholder' => 'Password', 'name' => 'plain_password'}
										%div.uk-form-row
											= csrf_token_field
											%input#nav_hashed_password{:type => 'hidden', :name => 'password', :value => ''}
											%input{'type' => 'checkbox', 'name' => 'remember'}
												Remember Me
										%div.uk-form-row
											%button.uk-button{'type' => 'submit', name: "action", value: "login"}
												Login!
											%button.uk-button{'type' => 'submit', name: "action", value: "register"}
												Join Us!
										%div.uk-form-row
											%a{:href => '#'}
												Forget your password?
			- else
				%li.user-active.uk-parent{'data-uk-dropdown' => '{mode\'click\'}'}
					%a{:href => '#'}
						= random_salutation
						%i.uk-icon-caret-down
					%div.uk-dropdown.uk-dropdown-width-2.uk-dropdown-navbar
						%div.uk-grid
							%div.uk-width-1-2
								%ul.uk-nav
									%li
										%a{href: '#'}
											%i.uk-icon.uk-icon-key
											Account Settings
							%div.uk-width-1-2
								%div
									%a.uk-button.uk-button-danger.uk-width-1-1.fb-open{href: '#feedback-form'}
										%i.uk-icon.uk-icon-bug
										Report a Bug
								%div
									%a.uk-button.uk-button-success.uk-width-1-1{href: '#'}
										%i.uk-icon.uk-icon-money
										Donate
								%div
									%a.uk-button.uk-button-primary.uk-width-1-1{href: '#'}
										%i.uk-icon.uk-icon-sign-out
										Logout
			%li
				%a{:href => '#status-offcanvas', 'data-uk-offcanvas' => true}
					%i.uk-icon-cog.uk-icon-medium
/End Navbar
