/%script{src: '/js/super.js'}
/ Needed on every page.
%script{src: '/js/jquery.js'}
%script{src: '/js/uikit.js'}
/ Needed on pages with a slideshow.
%script{src: '/js/jquery.cycle2.js'}
/ Needed only on pages that have a text area needing markdown parsing.
%script{src: '/js/codemirror.js'}
%script{src: '/js/markdown.js'}
%script{src: '/js/overlay.js'}
%script{src: '/js/xml.js'}
%script{src: '/js/gfm.js'}
%script{src: '/js/marked.js'}
%script{src: '/js/markdownarea.js'}
/ UIKit Addons. Some may not be needed. Will remove as necissary
%script{src: '/js/form-file.js'}
%script{src: '/js/form-password.js'}
%script{src: '/js/notify.js'}
%script{src: '/js/overlay.js'}
%script{src: '/js/sortable.js'}
%script{src: '/js/sticky.js'}
%script{src: '/js/timepicker.js'}
/ Secure Password Hashing
%script{src: '/js/sha512.js'}
/ FFXIVDB Database content tooltips
%script{src: 'http://xivdb.com/tooltips.js'}
:javascript 
	var xivdb_tooltips =
	{
		'language' : 'EN',
		'convertQuotes' : true,
		'frameShadow' : false,
		'compact' : false,
		'statsOnly' : false,
		'replaceName' : true,
		'colorName' : true,
		'showIcon' : true,
	}
