/Global Off Canvas
%div#mobile-offcanvas.uk-offcanvas
    %div.uk-offcanvas-bar
        /Off Canvas Statuses
        %ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon{'data-uk-nav' => true}
            %li.uk-nav-header
                News & Events
            %li
                %a{:href => '#'}
                    News
            %li.uk-parent
                %a{:href => '#'}
                    Events
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Special Events
                    %li
                        %a{:href => '#'}
                            Steam Events
            %li.uk-nav-header
                Community
            %li.uk-parent
                %a{:href => '#'}
                    Underdogs
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Forum
                    %li
                        %a{:href => '#'}
                            Members
            %li.uk-parent
                %a{:href => '#'}
                    Linkshells
                %ul.uk-nav-sub
                    %li
                        %a{:href => '/community/linkshells/doomfinders'}
                            DoomFinders
            %li.uk-nav-header
                Servers
            %li.uk-parent
                %a{:href => '#'}
                    Utilities & VoIP
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            TeamSpeak
                    %li
                        %a{:href => '#'}
                            Private VPN
            %li.uk-parent
                %a{:href => '#'}
                    Game Servers
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Starbound
                    %li
                        %a{:href => '#'}
                            Minecraft
                    %li
                        %a{:href => '#'}
                            Killing Floor
            %li.uk-nav-header
                Wiki
            %li.uk-parent
                %a{:href => '#'}
                    Sections
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Event Plans
                    %li
                        %a{:href => '#'}
                            Raid Information
                    %li
                        %a{:href => '#'}
                            Roster Information
            %li.uk-parent
                %a{:href => '#'}
                    Special
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Recent Edits
                    %li
                        %a{:href => '#'}
                            Create a New Page

/End Global Off Canvas