/Main Content
%div.ud-mainpage-bg.uk-container.uk-container-center
	=haml :'tmpl/breadcrumbs'
	%div.uk-grid.ud-mainpage
		%div.uk-width-large-3-4.uk-width-medium-3-4
			%form.uk-form.uk-form-horizontal
				%fieldset
					%legend
						Login with Your UnderdogsID
					- if @error == :password || @error == :notfound
						%div.uk-alert.uk-alert-warning{'data-uk-alert' => true}
							%a.uk-alert-close.uk-close{:href => ''}
							The UnderdogsID and password you entered are incorrect.
					- if @error == :permission
						%div.uk-alert.uk-alert-danger.uk-alert-large{'data-uk-alert' => true}
							%a.uk-alert-close.uk-close{:href => ''}
							%h2
								Oh no...We Have Just a Little Problem
							%p
								Unfortunately, we can't let you in. It seems you've been banned. If you need to know more about your ban, 
								%a{:href => '#'}
									click here
								or talk to an officer.
							%p
								Please keep in mind that attempting to circumvent forum security, or trolling our forums will not help your case. Please do not reapply for the guild to dispute a ban. Talk with an officer instead. If you need a copy of the guild rules, you can find them
								%a{:href => '#'}
									here
								for your reference. We appreciate your time with the guild and wish you luck in your future endevours.
							%p
								\-- The Underdogs Guild
					%div.uk-form-row
						%label.uk-form-label
							UnderdogsID
						%div.uk-form-controls
							%input{'type' => 'text', 'placeholder' => 'UnderdogsID', 'name' => 'login-username'}
					%div.uk-form-row
						%label.uk-form-label
							Password
						%div.uk-form-controls
							%input{'type' => 'password', 'placeholder' => 'Password', 'name' => 'login-username'}
					%div.uk-form-row
						%label.uk-form-label
							Remember You?
						%div.uk-form-controls
							%input{'type' => 'checkbox', 'name' => 'nav-remember'}
								Remember Me
					%div.uk-form-row
						%div.uk-form-controls
							%button.uk-button.uk-button-primary{'type' => 'submit'}
								Login!
							%button.uk-button.uk-button-success{'type' => 'submit'}
								Join Us!
					%div.uk-form-row
						%div.uk-form-controls
							%a{:href => '#'}
								Forget your password?
		%div.uk-width-1-4.uk-hidden-small
			%h2
				We're Recruiting!
			%p
				Minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.
				%i.uk-icon.uk-icon-heart
/End Main Content