%div.ud-pagetitle.uk-container.uk-container-center
	%h1.ud-pagetitle
		Lets get a bloody home!
%div.ud-mainpage-bg.uk-container.uk-container-center
	=haml :'tmpl/breadcrumbs'
	%div.ud-post.ud-post-td#post-1
		%div.ud-mainpage
			%table
				%tr
					%td.ud-post-info.uk-hidden-small
						%div.uk-text-center
							%a{:href => '#'}
							%img.ud-avatar-100px{:src => 'http://assets-cloud.enjin.com/users/2123745/avatar/avatar.1384181050.png'}
						%div.uk-text-center
							%a{:href => '#'}
								%img.ud-rank{'src' => '/img/rank-ico/td-ico.png', 'alt' => 'TD', 'data-uk-tooltip' => true, :title => 'Top Dog'}
								Mirakell
					%td.ud-post-content
						%p
							Hi boys and girls.
						%p
							I know that back in december we said there was no rush for a home, and in a way this is still true. Your leader has had big dreams of a house that will cost us about 84 million - and this isn't entirely out of reach if we start to pull together more, of course I can understand if you also do not wish to donate.
						%p
							Starting next week I'm going to try and focus more on making gil...something I suck at so I may be groaning about it a little xD I'll still be helping out with primals/dgns ect but majorty of time will be on crafting, gathering, dailies (ahhh), running lv50 dgns (instead of spamming ct which drops no gil :o) and actually try spirit bounding some stuff o.o
						%p
							I suck at making gil...so any help will be grateful. We are sitting at around 4.5 million, enough for a small house but our numbers are growing bigger and I do feel that we deserve more. We're still aiming for large (plot 28 in lavender beds!) but if all large are taken we'll go for a medium if we have enough. Mediums are about 20-30ish million though.
						%p
							Anyways this is just a wee mini rant on Myra's thoughts :p
		%div.uk-clearfix.ud-post-bar
			%div.ud-post-bar-left.uk-float-left
				%a.ud-post-bar-link{:href => '#post-1'}
					%i.uk-icon-link
				By Mirakell on Friday at 11:50 UTC.
			%div.ud-post-bar-right.uk-float-right
				%a.uk-button{:href => '#'}
					Edit Post
				%div.uk-button-dropdown{'data-uk-dropdown' => true}
					%div.uk-button.uk-button-danger
						Moderate
						%i.uk-icon-caret-down
					%div.uk-dropdown
						%ul.uk-nav.uk-nav-dropdown
							%li
								%a{:href => '#'}
									Poster IP Address
							%li
								%a{:href => '#'}
									User Settings
							%li.uk-nav-header
								Editing
							%li
								%a{:href => '#'}
									Delete Post and Thread
							%li
								%a{:href => '#'}
									Sticky Thread
							%li
								%a{:href => '#'}
									Change Post Author
	%div.ud-post.ud-post-ud#post-2
		%div.ud-mainpage
			%table
				%tr
					%td.ud-post-info.uk-hidden-small
						%div.uk-text-center
							%a{:href => '#'}
							%img.ud-avatar-100px{:src => 'http://assets-cloud.enjin.com/users/4509788/avatar/avatar.1381766693.png'}
						%div.uk-text-center
							%a{:href => '#'}
								%img.ud-rank{'src' => '/img/rank-ico/ud-ico.png', 'alt' => 'UD', 'data-uk-tooltip' => true, :title => 'Underdog'}
								Vies(Mister Phister)
					%td.ud-post-content
						%p
							That's...a lot of gil. At least now I know what the target is, though. I'll definitely help out where I can. 
		%div.uk-clearfix.ud-post-bar
			%div.ud-post-bar-left.uk-float-left
				%a.ud-post-bar-link{:href => '#post-2'}
					%i.uk-icon-link
				By Vies(Mister Phister) on Friday at 17:02 UTC.
			%div.ud-post-bar-right.uk-float-right
				%a.uk-button{:href => '#'}
					Edit Post
				%div.uk-button-dropdown{'data-uk-dropdown' => true}
					%div.uk-button.uk-button-danger
						Moderate
						%i.uk-icon-caret-down
					%div.uk-dropdown
						%ul.uk-nav.uk-nav-dropdown
							%li
								%a{:href => '#'}
									Poster IP Address
							%li
								%a{:href => '#'}
									User Settings
							%li.uk-nav-header
								Editing
							%li
								%a{:href => '#'}
									Delete Post and Thread
							%li
								%a{:href => '#'}
									Sticky Thread
							%li
								%a{:href => '#'}
									Change Post Author
	%div.ud-post.ud-post-td#post-3
		%div.ud-mainpage
			%table
				%tr
					%td.ud-post-info.uk-hidden-small
						%div.uk-text-center
							%a{:href => '#'}
							%img.ud-avatar-100px{:src => 'http://assets-cloud.enjin.com/users/2123745/avatar/avatar.1384181050.png'}
						%div.uk-text-center
							%a{:href => '#'}
								%img.ud-rank{'src' => '/img/rank-ico/td-ico.png', 'alt' => 'TD', 'data-uk-tooltip' => true, :title => 'Top Dog'}
								Mirakell
					%td.ud-post-content
						%p
							^_^ thats all I ask and thankies for any help that you can afford <3 
		%div.uk-clearfix.ud-post-bar
			%div.ud-post-bar-left.uk-float-left
				%a.ud-post-bar-link{:href => '#post-3'}
					%i.uk-icon-link
				By Mirakell on Friday at 17:42 UTC.
			%div.ud-post-bar-right.uk-float-right
				%a.uk-button{:href => '#'}
					Edit Post
				%div.uk-button-dropdown{'data-uk-dropdown' => true}
					%div.uk-button.uk-button-danger
						Moderate
						%i.uk-icon-caret-down
					%div.uk-dropdown
						%ul.uk-nav.uk-nav-dropdown
							%li
								%a{:href => '#'}
									Poster IP Address
							%li
								%a{:href => '#'}
									User Settings
							%li.uk-nav-header
								Editing
							%li
								%a{:href => '#'}
									Delete Post and Thread
							%li
								%a{:href => '#'}
									Sticky Thread
							%li
								%a{:href => '#'}
									Change Post Author
	%div.ud-post.ud-post-wd#post-4
		%div.ud-mainpage
			%table
				%tr
					%td.ud-post-info.uk-hidden-small
						%div.uk-text-center
							%a{:href => '#'}
							%img.ud-avatar-100px{:src => 'http://assets-cloud.enjin.com/users/602375/avatar/avatar.1310096122.png'}
						%div.uk-text-center
							%a{:href => '#'}
								%img.ud-rank{'src' => '/img/rank-ico/wd-ico.png', 'alt' => 'WD', 'data-uk-tooltip' => true, :title => 'Watch Dog'}
								Lynn
					%td.ud-post-content
						%p
							^_^ thats all I ask and thankies for any help that you can afford <3 
		%div.uk-clearfix.ud-post-bar
			%div.ud-post-bar-left.uk-float-left
				%a.ud-post-bar-link{:href => '#post-4'}
					%i.uk-icon-link
				By Lynn on Friday at 21:08 UTC.
			%div.ud-post-bar-right.uk-float-right
				%a.uk-button{:href => '#'}
					Edit Post
				%div.uk-button-dropdown{'data-uk-dropdown' => true}
					%div.uk-button.uk-button-danger
						Moderate
						%i.uk-icon-caret-down
					%div.uk-dropdown
						%ul.uk-nav.uk-nav-dropdown
							%li
								%a{:href => '#'}
									Poster IP Address
							%li
								%a{:href => '#'}
									User Settings
							%li.uk-nav-header
								Editing
							%li
								%a{:href => '#'}
									Delete Post and Thread
							%li
								%a{:href => '#'}
									Sticky Thread
							%li
								%a{:href => '#'}
									Change Post Author
	%div.ud-post.ud-post-wd#post-5
		%div.ud-mainpage
			%table
				%tr
					%td.ud-post-info.uk-hidden-small
						%div.uk-text-center
							%a{:href => '#'}
							%img.ud-avatar-100px{:src => 'http://assets-cloud.enjin.com/users/2132685/avatar/avatar.1354127908.png'}
						%div.uk-text-center
							%a{:href => '#'}
								%img.ud-rank{'src' => '/img/rank-ico/wd-ico.png', 'alt' => 'WD', 'data-uk-tooltip' => true, :title => 'Watch Dog'}
								Silent
					%td.ud-post-content
						%p
							Good luck
		%div.uk-clearfix.ud-post-bar
			%div.ud-post-bar-left.uk-float-left
				%a.ud-post-bar-link{:href => '#post-5'}
					%i.uk-icon-link
				By Silent on Friday at 17:42 UTC.
			%div.ud-post-bar-right.uk-float-right
				%a.uk-button{:href => '#'}
					Edit Post
				%div.uk-button-dropdown{'data-uk-dropdown' => true}
					%div.uk-button.uk-button-danger
						Moderate
						%i.uk-icon-caret-down
					%div.uk-dropdown
						%ul.uk-nav.uk-nav-dropdown
							%li
								%a{:href => '#'}
									Poster IP Address
							%li
								%a{:href => '#'}
									User Settings
							%li.uk-nav-header
								Editing
							%li
								%a{:href => '#'}
									Delete Post and Thread
							%li
								%a{:href => '#'}
									Sticky Thread
							%li
								%a{:href => '#'}
									Change Post Author
	%div.ud-post.ud-post-wd#post-6
		%div.ud-mainpage
			%table
				%tr
					%td.ud-post-info.uk-hidden-small
						%div.uk-text-center
							%a{:href => '#'}
							%img.ud-avatar-100px{:src => 'http://www.gravatar.com/avatar/7b2640dc0d88dbaa542e9d10ebea21fc?s=100'}
						%div.uk-text-center
							%a{:href => '#'}
								%img.ud-rank{'src' => '/img/rank-ico/sa-ico.png', 'alt' => 'SA', 'data-uk-tooltip' => true, :title => 'Server Administrator'}
								%img.ud-rank{'src' => '/img/rank-ico/wd-ico.png', 'alt' => 'WD', 'data-uk-tooltip' => true, :title => 'Watch Dog'}
								Faore
					%td.ud-post-content
						%p
							But I want my home to be clean, not bloody.~ D: 
		%div.uk-clearfix.ud-post-bar
			%div.ud-post-bar-left.uk-float-left
				%a.ud-post-bar-link{:href => '#post-6'}
					%i.uk-icon-link
				By Faore on Friday at 17:42 UTC. Last Edited 17:43.
			%div.ud-post-bar-right.uk-float-right
				%a.uk-button{:href => '#'}
					Edit Post
				%div.uk-button-dropdown{'data-uk-dropdown' => true}
					%div.uk-button.uk-button-danger
						Moderate
						%i.uk-icon-caret-down
					%div.uk-dropdown
						%ul.uk-nav.uk-nav-dropdown
							%li
								%a{:href => '#'}
									Poster IP Address
							%li
								%a{:href => '#'}
									User Settings
							%li.uk-nav-header
								Editing
							%li
								%a{:href => '#'}
									Delete Post and Thread
							%li
								%a{:href => '#'}
									Sticky Thread
							%li
								%a{:href => '#'}
									Change Post Author
	%a.uk-button.uk-button-large.uk-button-primary.uk-width-1-1.ud-load-more-spacing{:href => '#'}
		Load More