/* Color Variables */
@pal-1:#171717;
@pal-2:#3d3d3d;
@pal-3:#780F0F;
@pal-4:#8E0000;
@pal-5:#E6A50E;
@wht:#fff;
@blk:#000;
@gry:#c6c6c6;
@bgry:#eeeeee;
/* Other Vars */
@navbar-height:40px;
/* Get all the StyleSheets */
@import "/css/ud_uikit.less";
@import "/css/additional.less";