/* Color Variables */
@pal-1:#3EB489;
@pal-2:#C9A0DC;
@pal-3:#FBAED2;
@pal-4:#FBAED2;
@pal-5:#FB607F;
@wht:#fff;
@blk:#000;
@gry:#c6c6c6;
@bgry:#eeeeee;
/* Other Vars */
@navbar-height:40px;
/* Get all the StyleSheets */
@import "/css/ud_uikit.less";
@import "/css/additional.less";