%div.ud-pagetitle.uk-container.uk-container-center
	%h1.ud-pagetitle
		Aww. Donation Canceled.
%div.ud-mainpage-bg.uk-container.uk-container-center
	=haml :'tmpl/breadcrumbs'
	%div.uk-grid.ud-mainpage.uk-grid-divider{'data-uk-grid-margin' => true}
		%div.uk-width-1-2
			%p
				You're all set. We've canceled your donation. You won't need to do anything else and you will not be charged.
		%div.uk-width-1-2
			%h2
				Need Help
			%p
				If you're having issues donating or have any questions, ask Faore. He'll be able to set you in the right direction.