%div.ud-pagetitle.uk-container.uk-container-center
	%h1.ud-pagetitle
		Mission Complete! You're Awesome.
%div.ud-mainpage-bg.uk-container.uk-container-center
	=haml :'tmpl/breadcrumbs'
	%div.uk-grid.ud-mainpage.uk-grid-divider{'data-uk-grid-margin' => true}
		%div.uk-width-1-2
			%p
				Congratulations! You've successfully donated to keep the Underdogs server running for another month. We greatly appreciate your contribution. If you have any issues reguarding the transaction, feel free to contact Faore.
		%div.uk-width-1-2
			%h2
				Refunds
			%p
				If you hadn't meant to donate the amount you did, tell Faore immediately to have the transaction reversed. Issuing refunds for payments via Paypal costs the guild money that could have been used towards the server (due to PayPal's fees), please request them rarely.