%div.ud-pagetitle.uk-container.uk-container-center
	%h1.ud-pagetitle
		Forum
%div.ud-mainpage-bg.uk-container.uk-container-center
	=haml :'tmpl/breadcrumbs'
	%div.ud-mainpage
		%table.uk-table.uk-table-hover.uk-table-striped
			%thead
				%th.uk-width-7-10
					Thread
				%th.uk-width-1-10
					Last Poster
				%th.uk-width-1-10
					Views
				%th.uk-width-1-10
					Replies
			%tr
				%td
					Tip and Tricks. General and Class based!
					%span.uk-comment-meta.ud-rpost-meta
						By Remeliez
				%td
					%img{:src => 'http://assets-cloud.enjin.com/users/2123745/avatar/small.1384181050.png'}
					Mirakell
				%td
					32
				%td
					3
			%tr
				%td
					Tip and Tricks. General and Class based!
					%span.uk-comment-meta.ud-rpost-meta
						By Remeliez
				%td
					%img{:src => 'http://assets-cloud.enjin.com/users/2123745/avatar/small.1384181050.png'}
					Mirakell
				%td
					32
				%td
					3
			%tr
				%td
					Tip and Tricks. General and Class based!
					%span.uk-comment-meta.ud-rpost-meta
						By Remeliez
				%td
					%img{:src => 'http://assets-cloud.enjin.com/users/2123745/avatar/small.1384181050.png'}
					Mirakell
				%td
					32
				%td
					3