%div.ud-pagetitle.uk-container.uk-container-center
	%h1.ud-pagetitle
		Forum
%div.ud-mainpage-bg.uk-container.uk-container-center
	=haml :'tmpl/breadcrumbs'
	%div.ud-mainpage
		%table.uk-table.uk-table-hover.uk-table-striped
			%thead
				%th.uk-width-6-10
					Thread
				%th.uk-width-2-10
					Last Poster
				%th.uk-width-1-10.uk-hidden-small
					Views
				%th.uk-width-1-10
					Replies
			%tr
				%td
					%a{:href => '#'}
						Tip and Tricks. General and Class based!
					%span.uk-comment-meta.ud-rpost-meta
						By Remeliez
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/2123745/avatar/small.1384181050.png'}
						Mirakell
				%td
					32
				%td.uk-hidden-small
					3
			%tr
				%td
					%a{:href => '#'}
						Outcry Gaming FC discussion
					%span.uk-comment-meta.ud-rpost-meta
						By Remeliez
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/2132685/avatar/small.1354127908.png'}
						Silent
				%td
					57
				%td.uk-hidden-small
					7
			%tr
				%td
					%a{:href => '#'}
						Peisteskin Maps
					%span.uk-comment-meta.ud-rpost-meta
						By Remeliez
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/2123745/avatar/small.1384181050.png'}
						Mirakell
				%td
					32
				%td.uk-hidden-small
					3
			%tr
				%td
					%a{:href => '#'}
						I think I might need to take a break
					%span.uk-comment-meta.ud-rpost-meta
						By Adalind
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://www.gravatar.com/avatar/7b2640dc0d88dbaa542e9d10ebea21fc?s=25'}
						Faore
				%td
					63
				%td.uk-hidden-small
					5
			%tr
				%td
					%a{:href => '#'}
						FC actions schedule
					%span.uk-comment-meta.ud-rpost-meta
						By Remeliez
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/6613997/avatar/small.1373466323.png'}
						Adalind
				%td
					212
				%td.uk-hidden-small
					18
			%tr
				%td
					%a{:href => '#'}
						Home Sweet Home
					%span.uk-comment-meta.ud-rpost-meta
						By Mirakell
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/2132685/avatar/small.1354127908.png'}
						Silent
				%td
					42
				%td.uk-hidden-small
					5
			%tr
				%td
					%a{:href => '#'}
						Help me decide which relic to upgrade
					%span.uk-comment-meta.ud-rpost-meta
						By Adalind
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/2123745/avatar/small.1384181050.png'}
						Mirakell
				%td
					42
				%td.uk-hidden-small
					6
			%tr
				%td
					%a{:href => '#'}
						Funny wee thread
					%span.uk-comment-meta.ud-rpost-meta
						By Mirakell
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://www.gravatar.com/avatar/7b2640dc0d88dbaa542e9d10ebea21fc?s=25'}
						Faore
				%td
					49
				%td.uk-hidden-small
					7
			%tr
				%td
					%a{:href => '#'}
						Let's Talk About Pretty Things! Like Websites and Kittens.
					%span.uk-comment-meta.ud-rpost-meta
						By Faore
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/2238475/avatar/small.1345053934.png'}
						Cakepop
				%td
					191
				%td.uk-hidden-small
					22
			%tr
				%td
					%a{:href => '#'}
						DGN/Raids - When we most active?
					%span.uk-comment-meta.ud-rpost-meta
						By Mirakell
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/7668209/avatar/small.1391628537.png'}
						Jennifear
				%td
					177
				%td.uk-hidden-small
					25
			%tr
				%td
					%a{:href => '#'}
						Underdogs TeamSpeak!
					%span.uk-comment-meta.ud-rpost-meta
						By Faore
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/6613997/avatar/small.1373466323.png'}
						Adalind
				%td
					169
				%td.uk-hidden-small
					26
			%tr
				%td
					%a{:href => '#'}
						Can has Mumble
					%span.uk-comment-meta.ud-rpost-meta
						By Adalind
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/7417349/avatar/small.1382997355.png'}
						Soulerisn
				%td
					45
				%td.uk-hidden-small
					2
			%tr
				%td
					%a{:href => '#'}
						I made a thread!
					%span.uk-comment-meta.ud-rpost-meta
						By Mirakell
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/7223346/avatar/small.1378169388.png'}
						Leonal
				%td
					42
				%td.uk-hidden-small
					5
			%tr
				%td
					%a{:href => '#'}
						Streaming/Recoring/Showing off?
					%span.uk-comment-meta.ud-rpost-meta
						By Mirakell
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/2132685/avatar/small.1354127908.png'}
						Silent
				%td
					65
				%td.uk-hidden-small
					9
			%tr
				%td
					%a{:href => '#'}
						Final fantasy 14
					%span.uk-comment-meta.ud-rpost-meta
						By Silent
				%td
					%a{:href => '#'}
						%img.ud-avatar-25px{:src => 'http://assets-cloud.enjin.com/users/2132685/avatar/small.1354127908.png'}
						Silent
				%td
					209
				%td.uk-hidden-small
					29
		%a.uk-button.uk-button-large.uk-button-primary.uk-width-1-1{:href => '#'}
			Load More