<!DOCTYPE html class="uk-height-1-1">
-#Cant use HAML because element needs doctype and a class.
%head
    %title
        Underdogs Guild
    %meta{'charset' => 'utf-8'}
    /Mobile Device Support
    %meta{'name' => 'viewport', 'content' => 'width=device-width,user-scalable=no'}
    /End Mobile Device Support
    /Stylesheets
    %link{'rel' => 'stylesheet/less', :href => '/css/ud_master.less'}
    %link{'rel' => 'stylesheet', :href => 'css/nojs.css', :type => 'text/css'}
    /End Stylesheets
    :javascript
        less = {
            env: "development" //Remove this entire script on launch.
        };
    %script{'src' => '/js/jquery.js'}
    %script{'src' => '/js/uikit.min.js'}
    %script{'src' => '/js/less.min.js'}
%body.uk-height-1-1.ud-error
    %noscript
        %div.nojs
            %div
                %h1
                    Oh no! You murdered the JavaScript!
                %p
                    Hi there person! You seem to have disabled JavaScript. While that is perfectly understandable, we designed this entire site using JavaScript to enhance it and make development easier. Unfortunately, you can't browse the site without it. It just won't work. So enable your JS and reload the page! It'll be well worth it. No viruses; no ads; just our website.
    =yield
    