!!!html5
%head
	%title
		Underdogs Guild
	%meta{'charset' => 'utf-8'}
	=haml :'tmpl/globalmeta'
	/Mobile Device Support
	%meta{'name' => 'viewport', 'content' => 'width=device-width, user-scalable=no'}
	%link{'rel' => 'shortcut icon', 'href' => '/img/meta/favicon.ico'}
	%link{'rel' => 'apple-touch-icon', 'href' => '/img/meta/apple-touch-icon.png'}
	/End Mobile Device Support
	%link{'rel' => 'stylesheet', :href => '/site.css', :type => 'text/css'}
%body
	%noscript
		%div.nojs
			%div
				%h1
					Oh no! You murdered the JavaScript!
				%p
					Hi there person! You seem to have disabled JavaScript.
					While that is perfectly understandable, we designed this
					entire site using JavaScript to enhance it and make
					development easier. Unfortunately, you can't browse the
					site without it. It just won't work. So enable your JS and
					reload the page! It'll be well worth it. No viruses; no
					ads; just our website.
	=haml :'tmpl/offcanvas'
	=haml :'tmpl/mobilenav'
	/Main Page
	%div.uk-grid
		/Notice Section
		%div.uk-width-1-1
			%div.uk-alert.uk-alert-danger{'data-uk-alert' => true}
				%a.uk-alert-close.uk-close{:href => ''}
				%p
					The Underdogs Website will undergo maintenance at some
					point in time. In the meantime enjoy the eyecandy?
		/End Notice Section
	%div.uk-container.uk-container-center.ud-banner
		%div#ud-hbanner.uk-hidden-small
		=haml :'tmpl/globalnav'
	=yield
	=haml :'tmpl/globalfooter'
	%script{src: '/site.js'}
