/Global Off Canvas
%div#status-offcanvas.uk-offcanvas
    %div.uk-offcanvas-bar.uk-offcanvas-bar-flip
        /JSON Search Result Retrieval. Not working yet.
        %form.uk-search{'data-uk-search' => '{source:\'/searchresults.json\'}'}
            %input.uk-search-field{'type' => 'search', 'placeholder' => 'Search...'}
            %button.uk-search-close{'type' => 'reset'}
        /Off Canvas Statuses
        %ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon{'data-uk-nav' => true}
            %li.uk-nav-header
                Server Statuses
            %li
                %a{:href => '#'}
                    TeamSpeak
                    %div.uk-badge.uk-badge-success
                        Online
            %li
                %a{:href => '#'}
                    Starbound
                    %div.uk-badge.uk-badge-success
                        Online
            %li
                %a{:href => '#'}
                    Killing Floor
                    %div.uk-badge.uk-badge-danger
                        Offline
            %li
                %a{:href => '#'}
                    Minecraft
                    %div.uk-badge.uk-badge-danger
                        Offline
            %li
                %a{:href => '#'}
                    VPN
                    %div.uk-badge.uk-badge-success
                        Online
            %li.uk-nav-header
                Account
            %li
                %a{:href => '#'}
                    Change Your Account
            %li
                %a{:href => '#'}
                    Change Your Profile
            %li
                %a{:href => '#'}
                    Private Messages
            %li.uk-nav-header
                Underdogs Management
            %li.uk-parent
                %a{:href => '#'}
                    Moderate
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Manage Bans
                    %li
                        %a{:href => '#'}
                            Manage Warnings
                    %li
                        %a{:href => '#'}
                            Edit User Profiles
                    %li
                        %a{:href => '#'}
                            Mass Delete Threads
                    %li
                        %a{:href => '#'}
                            Mass Archive Threads
            %li.uk-parent
                %a{:href => '#'}
                    Content
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Manage Pages
                    %li
                        %a{:href => '#'}
                            Homepage Slideshow
                    %li
                        %a{:href => '#'}
                            Manage Events
            %li.uk-parent
                %a{:href => '#'}
                    Wiki
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Edit Wiki Home
                    %li
                        %a{:href => '#'}
                            Disable/Enable Wiki
                    %li
                        %a{:href => '#'}
                            Mass Move/Delete Page
            %li.uk-parent
                %a{:href => '#'}
                    Administrate
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            General Settings
                    %li
                        %a{:href => '#'}
                            Social Icons
                    %li
                        %a{:href => '#'}
                            Legal Pages
                    %li
                        %a{:href => '#'}
                            Guild Rules
                    %li
                        %a{:href => '#'}
                            Disable Website
                    %li
                        %a{:href => '#'}
                            Mass Archive/Delete Pages
            %li.uk-parent
                %a{:href => '#'}
                    Server
                %ul.uk-nav-sub
                    %li
                        %a{:href => '#'}
                            Environment & Load Average
                    %li
                        %a{:href => '#'}
                            Analytics
                    %li
                        %a{:href => '#'}
                            Database
                    %li
                        %a{:href => '#'}
                            Security
                    %li
                        %a{:href => '#'}
                            Email Settings
/End Global Off Canvas