/* Global Style Changes */
body {
	font-family: $font;
	background:$pal-1;
	font-size: 12px;
}
div.ud-pagetitle {
	background: $pal-3;
}
h1.ud-pagetitle {
	color: $wht;
	font-size: 36px;
	line-height: 40px;
	padding-top: 29px;
	padding-bottom: 25px;
	text-shadow: 0 0 0.3em darken($wht, 30%);
}
/* Off-Canvas Server Status Styling */
span.ud-server-online {
	color:#A1D700;
}
span.ud-server-offline {
	color:#BF4949;
}

/* Navbar Effects */
ul.uk-navbar-nav li a:hover {
	transition: background-color .5s;
	-webkit-transition: background-color .5s; /* Safari */
}
.uk-navbar {
	z-index: 1000;
}
/* Site Banner */
#ud-hbanner {
	background: $pal-3;
	height:200px;
}
.ud-banner {
	padding: 0px;
}
/* Jquery Cycle2 Slideshow */
.ud-slideshow-bg {
	background: #0D1C33;
}
.ud-slideshow-inner {
	padding: 0px;
}

#progress {
	position: absolute;
	bottom: 0;
	height: 6px;
	width: 0px;
	background: $pal-3;
	z-index: 600;
}
.cycle-overlay { 
    position: absolute;
    bottom: 0;
    z-index: 500;
    background: $pal-1;
    color: $wht;
    padding: 15px;
    opacity: .5;
}
.cycle-prev {
left: 0;
}
.cycle-next {
right: 0;
}
.cycle-prev, .cycle-next {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 80px;
    z-index: 800;
}
/* Breadcrumb */
.ud-breadcrumb {
	padding: 10px 10px 0 10px;
	font-size: 10px;
}
.ud-breadcrumb ul {
	margin: 0;
}
/* Main Page Grid */
.ud-mainpage-bg {
	background: $bgry;
}
.ud-mainpage {
	padding:10px;
}
h3.uk-article-title {
	font-size: 16px;
	margin: 0;
	line-height: 100%;
}
/* Footer */
.ud-footer-bg {
	background: $pal-1;
}
.ud-footer-text {
	color: $gry;
	margin-top: 20px;
	text-align: center;
}
.ud-copyright {
	margin: 40px 0;
	color: $gry;
	text-align: center;
	font-size: 10px;
}
.ud-footernav {
	color:$gry;
}
.ud-footernav ul {
	margin-bottom: 0px;
	text-align: center;
}
.ud-footernav ul li a {
	color:$gry;
	font-size: 10px;
}
.ud-footernav ul li a:hover {
	color:$wht;
	text-decoration: none;
}
.ud-footersocial {
	width: 259px;
	margin-top: 40px;
}
.ud-footersocial a {
	margin: 5px;
}
/* Global Rank Icons */
img.ud-rank {
	display: inline;
	width: 14px;
	height: 14px;
	vertical-align: center;
}
/* Special Navbar Changes */
img.ud-navbar-logo {
	height: ($navbar-height);
}
.ud-rpost-title {
	margin-bottom: 0px;
}
.ud-rpost-cont {

}
.ud-rpost-meta {

}

/* Error Pages */
.ud-error {
	background: $pal-1;
}
.ud-error-container {
	max-width: 700px;
	width: 100%;
}
.ud-sadface {
	font-size: 400px;
	color: $pal-4;
	line-height: 100%;
}
.ud-error-text {
	color: $gry !important;
}
.ud-error-info {
	padding: 109px 0;
}
/* CSS Fixes */
.ud-buttonfix {
	padding-top: 10px;
}
@media (max-width: 767px) {
	.ud-mobile-padding {
		padding: 0 20px !important;
	}
}
/* Fancy Transparency Button */

.ud-transbutton-bg {
	background: url("../img/transbtns/floatingcity.png") fixed repeat-y top center;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
@media (max-width: 1220px) {
	.ud-transbutton-bg {
		max-width: 1000px !important;
	}
}
.ud-transbutton-trans {
	height: 250px;
}
.ud-transbutton-content {
	margin-top: 83px;
}
h3.ud-transbutton-text {
	color: $pal-5;
	font-size: 36px;
	margin-bottom:20px;
}