%div.ud-pagetitle.uk-container.uk-container-center
	%h1.ud-pagetitle
		New Post
%div.ud-mainpage-bg.uk-container.uk-container-center
	=haml :'tmpl/breadcrumbs'
	%div.uk-grid.ud-mainpage.uk-grid-divider{'data-uk-grid-margin' => true}
		%div.uk-width-1-1
			%form.uk-form{'action' => '#', 'method' => 'POST'}
				%fieldset.uk-form-horizontal
					%legend
						Replying to SomeThead
					=haml :'tmpl/fancy_editor'
				%fieldset.uk-container
					%div.uk-form-controls.uk-grid
						%button.uk-button-large.uk-button.uk-width-1-1.uk-width-medium-1-2.uk-width-large-3-4.uk-button-success{'type' => 'submit'}
							Reply
						%button.uk-button-large.uk-button.uk-hidden-small.uk-width-medium-1-2.uk-width-large-1-4.uk-button-danger{'type' => 'reset'}
							I Screwed Up
